#contact_modal{
    display: none;
    position:fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(167, 165, 165, 0.2);
 }
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 50%;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    height: 42px;
    width: 42px;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
   margin-top: 8%;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: x-large;
}
#message {
   height: 150px;
}
.error{
    border: 5px solid #901C1C;
}
.error-message{
    color: #901C1C;
    font-weight: bold;
    font-size: 20px;
}
button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
 
}
.contact_button {
    position: absolute;
    margin-left: 430px;
    margin-top: 120px;
    align-items: center;
    display: flex;
}
.photograph-header {
   display: block;
    width: 90%;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 70px;
}
.photograph-header article aria {
    display: none;
}
.photograph-header article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
    padding-left:5% ;
    padding-right: 5%;

}
.photograph-header div{
    justify-self:left;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}
.photograph-header  div  h2 {
    color: #D3573C;
    font-weight: 400;
    font-size: 36px;
    line-height: 0em;
}

.photograph-header  div h3 {
    color: #901C1C;
    font-weight: 400;
    font-size: 20px;
    line-height: 1em;
}
.photograph-header  div h4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 0em;
}
.photograph-header article img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background: #C4C4C4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.photographer-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 100px;
    margin-left:   5%;
    width: auto;
}
    
.photographer-media article {
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5%;
    padding-right: 10%;
}
.photographer-media article video,img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.photographer-media article img{
    width: 300px;
    
}
.photographer-media div {
    display: flex;
    margin-top: 5%;
}
.photographer-media  div  h3 {
    width: 80%;
    margin: 0%;
    padding: 0%;
}
.photographer-media  div h3, span h4 {
    display: inline-block;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    color: #901C1C;
}
.photographer-media span {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.photographer-media span img {
  padding-left: 10%;
  width: 30px;
  height: 30px;
  
}

#media_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#galleryModal {
    border-radius: 5px;
   background-color:white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
#galleryModal header {
    justify-content: space-between;
    width: 100%;
}
#galleryModal header img {
    cursor: pointer;
    height: 42px;
    width: 42px;
    padding-left: 94%;
    padding-top: 7%;
}
.lightbox img,
.lightbox video{
    width: 80%;
    height: 80%;
    object-fit:cover;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.lightbox p {
    color: #901C1C;
    font-weight: 600;
    font-size: 25px;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 75%;
    height: 20%;
    position: absolute;
    left: 48%;
    line-height: 4%;
}
.lightbox-prev, .lightbox-next {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: #901C1C;
    cursor: pointer;
    z-index: 1;
} 
.lightbox-prev {
    left: 60px;
}
.lightbox-next {
    right: 60px;
}
.likeTarif{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    bottom: 0;
    right: 20px;
    background-color: #DB8876;
    width: 300px;
    border-radius: 5px 5px 0 0;
    z-index: 2;
    padding-left: 3%;
   
}
.totalLike{
    font-weight: 900;
    font-size: 24px;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding-top: 40%;

}
.heartTotal{
   padding-top: 40%;
   width: 30px;
   height: 30px;
   vertical-align: middle;
}
.price{
   font-weight: 900;
   font-size: 24px;
   white-space: nowrap;
   margin-left: 30%;
}


  